* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding: 0 10px;
}

.pragmatica {
    font-family: pragmatica, 'sans-serif';
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

.invisible {
    opacity: 0;
}

/* loader */

.loader {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover {
    overflow: hidden;
    position: absolute;
}

.disableCover {
    overflow: visible;
}

.loaderName {
    font-size: 30px;
    transform: translateY(170%) rotate(15deg);
    position: relative;
    line-height: 1;
}

.loaderName span {
    display: inline-block;
    will-change: transform;
}

.nameBr {
    display: none;
}

.right {
    text-align: right;
    float: right;
    margin-left: 5px;
}

.nameBig {
    display: flex;
    flex-direction: column;
}

/* header */

.header {
    display: flex;
    justify-content: flex-end;
}

.navLink {
    display: none;
}

.circle {
    height: 12px;
    width: 12px;
    background-color: black;
    border-radius: 100px;
    margin-top: 50px;
}

/* hero */

.hero {
    margin-top: 15px;
}

.name {
    font-size: 60px;
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.name2 {
    text-align: right;
}

.jobTitle {
    margin: 50px 0 25px 0;
    font-size: 20px;
    text-align: right;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.img2 {
    display: none;
}

.introTxt {
    margin-top: 50px;
    font-size: 20px;
}

.intro1 + .intro2 {
    margin: 25px 0 150px 0;
}

@media screen and (max-width: 320px) {
    .name {
        font-size: 50px;
    }
}

@media screen and (min-width: 600px) {

    .right {
        text-align: left;
        float: none;
    }

    .name {
        display: block;
    }

    .header {
        height: 10vh;
        display: flex;
        align-items: center;
    }

    .navLink {
        display: block;
        font-size: 22px;
    }

    .navLink + .navLink {
        margin: 0 50px;
    }

    .circle {
        margin: 0;
        height: 15px;
        width: 15px;
    }

    .jobTitle {
        display: none;
    }

    .introTxt {
        font-size: 25px;
        width: 45vw;
        margin-top: 50px;
    }

    .img1, .img2 {
        position: absolute;
    }

    .img1 {
        right: 0;
        width: 50vw;
        margin-top: 100px;
    }

    .img2 {
        margin-top: 400px;
        width: 60vw;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        display: block;
    }
}

@media screen and (min-width: 900px) {
    .navLink, .introTxt {
        font-size: 30px;
    }
}